.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    color: white;
}

.logo-container {   
    transition: transform 0.3s ease;
}

.logo-container:hover {
    transform: scale(1.1);
}

.logo {
    width: 100px;
    height: auto;
}



.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: #3e3e3e;
    text-decoration: none;
    font-weight: bold;

    transition: transform 0.3s ease;
    display: inline-block;
}

.nav-links a:hover {
    color: #61dafb;
    transform: scale(1.1);
}

.search-container {

    text-align: right;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 5px 10px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #21a1f1;
}
